---
import Layout from "@/layouts/Layout.astro";
import CardPresentation from "@/components/CardPresentation.astro";
import Projects from "@/components/Projects.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
---

<Layout
  title="Proyectos Vanilla - HTML - CSS - JS."
  description="Web creada con la finalidad de poder enseñar proyectos hechos en JavaScript, HTML y CSS."
  keywords="javascript, js, programación, desarrollo web, css, html"
>
  <Header />

  <main class="flex flex-col gap-12 p-8 text-white/90">
    <CardPresentation />
    <Projects />
  </main>

  <Footer />
</Layout>
