---
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import CardPresentation from "@/components/CardPresentation.astro";
import Projects from "@/components/Projects.astro";
import Footer from "@/components/Footer.astro";
---

<Layout
  title="Proyectos Vanilla - HTML - CSS - JS."
  description="Web creada con la finalidad de poder enseñar proyectos hechos en JavaScript, HTML y CSS."
  keywords="javascript, js, programación, desarrollo web, css, html"
>
<Header />
	<main class="min-h-dvh gap-12 py-8 px-16 flex flex-col text-white">
		<CardPresentation />
		<Projects />
		<Footer />
	</main>
</Layout>
