---
const { href, src, title } = Astro.props;
---

<a
  href={href}
  #323232
  target="_blank"
  class="flex items-center justify-start gap-3 rounded-xl p-4 border border-white/10 hover:bg-[#1f1f1f] hover:border-white/30 transition-colors duration-150"
>
  <div class="w-9 h-9">
    <img src={src} alt={title} class="w-full h-full block rounded-2xl" />
  </div>
  <p class="text-white/90 text-left">{title}</p>
</a>
