---
import BtnCardPresentation from "./Button.astro";
---

<section class="w-full max-w-7xl mx-auto">
  <div class="w-full max-w-3xl mx-auto flex flex-col gap-4 sm:flex-row">
    <div
      class="w-full flex items-center justify-center sm:order-2"
    >
      <img
        class="w-40 aspect-square rounded-2xl block object-cover"
        src="https://cdn.jsdelivr.net/gh/alohe/avatars/png/upstream_17.png"
        alt="Imagen del rostro de Shoot"
      />
    </div>

    <div class="w-full flex flex-col gap-4 sm:order-1">
      <p class="text-lg">
        ¡Hola, soy
        <a
          href="https://github.com/shootmewolft"
          class="text-[#f1f1f1] cursor-pointer font-semibold hover:underline"
          target="_blank">Alvaro Pedrozo</a
        >. Desarrollador Front-End en etapa de aprendizaje y crecimiento.
      </p>

      <div class="w-full grid grid-cols-2 gap-4">
        <BtnCardPresentation
          src="/github.svg"
          href="https://github.com/shootmewolft"
          title="GitHub"
        />

        <BtnCardPresentation
          src="/linkedin.svg"
          href="https://www.linkedin.com/in/alvaro-pedrozo-b8600423b/"
          title="Linkedin"
        />
      </div>
    </div>
  </div>
</section>
