<section class="flex items-center justify-evenly">
  <div class="grid w-[60%] gap-4">
    <p class="text-lg">
      ¡Hola, soy
      <a href="https://github.com/shootmewolft" class="text-[#ccc] cursor-pointer font-medium hover:underline" target="_blank"
        >Alvaro Pedrozo</a
      >! Desarrollador Front-End en etapa de aprendizaje y crecimiento.
    </p>
    <div class="flex gap-4 w-full">
      <a href="https://github.com/shootmewolft" target="_blank" class="flex py-2 px-4 text-white rounded-xl items-center bg-[#fff3] gap-2 border border-white hover:bg-[#fff6]">
        <img src="/github.svg" alt="GitHub logo" class="w-8 rounded-2xl"/>Alvaro's GitHub</a
      >
      <a
        href="https://www.linkedin.com/in/alvaro-pedrozo-b8600423b/"
        target="_blank" class="flex py-2 px-4 text-white rounded-xl items-center bg-[#fff3] gap-2 border border-white hover:bg-[#fff6]"
      >
        <img src="/linkedin.svg" alt="Linkedin logo" class="w-8 rounded-2xl"/> Alvaro's Linkedin</a
      >
    </div>
  </div>
  <img
    class="w-40 rounded-2xl"
    src="https://cdn.jsdelivr.net/gh/alohe/avatars/png/upstream_17.png"
    alt="Imagen del rostro de Shoot"
  />
</section>
