<footer class="flex-1 grid justify-center content-end gap-[1.4rem]">
  <a href="https://github.com/Shootmewolft/projects-vanilla-html-css-js" class="text-white hover:underline">GitHub de la página</a>
  <p class="text-center">Codeado con ❤️</p>
</footer>
