<footer class="w-full bg-[#1a1a1a]">
  <div class="w-full max-w-7xl mx-auto p-8 flex flex-col text-center xs:flex-row xs:justify-between text-white/90">
    <a
      target="_blank"
      href="https://github.com/Shootmewolft/projects-vanilla-js"
      class="hover:underline">GitHub de la página</a
    >
    <p>Codeado con ❤️</p>
  </div>
</footer>
