<header
  class="w-full top-0 left-0 sticky bg-black/90 backdrop-blur z-[1000]"
>
  <div class="w-full max-w-7xl mx-auto p-8 flex items-center justify-between gap-4">
    <img
      src="/favicon.svg"
      alt="JavaScript Logo"
      class="w-16 transition duration-[400ms] ease-in-out hover:-rotate-12"
      alt="JavaScript Imagen"
    />
    <h1 class="text-white font-semibold text-2xl">
      Proyectos vanilla hechos en <strong class="text-html font-semibold"
        >HTML</strong
      >,
      <strong class="text-css font-semibold">CSS</strong> y <strong
        class="text-js font-semibold">JavaScript</strong
      >
    </h1>
  </div>
</header>

<style>
  header {
    animation: change-header auto linear both;
    animation-timeline: scroll(root block);
    animation-range: 0 200px;
  }

  @keyframes change-header {
    to {
      background-color: #16161666;
    }
  }
</style>
